/*
* Generic Styling, for Desktops/Laptops
*/
table {
    width: 100%;
    border-collapse: collapse;

}

/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
    text-align: center;
}
th {
    background: #ffd700;
    color: dimgrey;
    font-weight: bold;
    text-align: center;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: center;
}

/*
* This query will take effect for any screen smaller than 760px
*/
@media
only screen and (max-width: 760px),
(min-device-width: 760px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    /*table, thead, tbody, th, td, tr {*/
        /*display: block;*/
        /*width: 100%;*/
        /*-ms-overflow-style: -ms-autohiding-scrollbar;*/
        /*-webkit-overflow-scrolling: touch;*/
    /*}*/

    /* Hide table headers (but not display: none;, for accessibility) */
    /*thead tr {*/
        /*position: absolute;*/
        /*top: -9999px;*/
        /*left: -9999px;*/
    /*}*/

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #ccc;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}

@media (max-width: 500px) {
    table {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        overflow-x: scroll;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
    }
}